# emacs related files
*~

# misc build related files
*.so
*.o
*.a
*.exe
*.dll
*.mcr
build.log
qmessdecl.h
qmessdecl.inc
qmessdef.h
qmessdef.hh
qmessdef.inc
*.fpp

# python related files
*.pyc
*.pyo

# latex related files
*.aux
*.log
*.out
